#navbar{
    border-radius: 40px;
}
#logo{
    justify-content: center;
    align-items: center;
}
.meet-section{
    background-image: url(/images/team.png);
    background-repeat: no-repeat;
    background-size: cover;
}